{% render 'partials/head.liquid' %}

<main>
    <nav class="nav-bar">
        <img class="logo-svg" src="/img/logo-mobile.svg" alt="DDA logo">
        <button>
            <img class="hamburger-svg" src="/img/icon.svg" alt="hamburger menu">
        </button>
    </nav>
    <section class="page-title-container">
        <section class="page-title">
            <a href="">&larr; Terug naar home</a>
            <h1>Onze leden</h1>
        </section>
        
        <section class="page-title-content">
            <p>De {{ leden | size }} beste digitale bureaus van Nederland zijn verenigd in Dutch Digital Agencies. Zet de juiste filters aan en zoek contact met het bureau dat het beste bij past bij jouw vraagstuk en uitdaging. Ook DDA lid worden? Ga dan naar deze pagina voor meer informatie.</p>
                {% comment %} */nummer moet uit database/* {% endcomment %}
        </section>
    </section>
    <section class="filter-container">
        <section class="search-bar">
            <label for="search">Zoek een bureau...</label>
            <input type="text" id="search" name="search">
        </section>
        
        <section class="filters">
            <!-- Provincie filter -->
            <section class="provincie-filter">
                <select name="provincie" id="provincie">
                    <option value="">Alle provincies</option>
                    <option value="Noord-Holland">Noord-Holland</option>
                    <option value="Zuid-Holland">Zuid-Holland</option>
                    <option value="Groningen">Groningen</option>
                    <option value="Friesland">Friesland</option>
                    <option value="Drenthe">Drenthe</option>
                    <option value="Overijssel">Overijssel</option>
                    <option value="Flevoland">Flevoland</option>
                    <option value="Gelderland">Gelderland</option>
                    <option value="Utrecht">Utrecht</option>
                    <option value="Limburg">Limburg</option>
                    <option value="Noord-Brabant">Noord-Brabant</option>
                    <option value="Zeeland">Zeeland</option>
                </select>
            </section>

            <!-- Omvang filter -->
            <section class="omvang-filter">
                <select name="omvang" id="omvang">
                    <option value="">Alle omgevingen</option>
                    <option value="1-9">1-9</option>
                    <option value="10-24">10-24</option>
                    <option value="25-49">25-49</option>
                    <option value="50-99">50-99</option>
                    <option value="100-249">100-249</option>
                    <option value="250+">250+</option>
                </select>
            </section>

            <!-- Sorteren filter -->
            <section class="sorteren-filter">
                <select name="sorteren" id="sorteren">
                    <option value="">Geen</option>
                    <option value="a-z">A-Z</option>
                    <option value="z-a">Z-A</option>
                    <option value="colleagues">Aantal werknemers</option>
                </select>
            </section>
        </section>
    </section>



    <section class="leden-card-grid">
    {% for lid in leden %}
      <section>
        <img loading="lazy" alt="{{ lid.title }}" src="https://fdnd-agency.directus.app/assets/{{ lid.photo }}" width="200">
        <h3>{{ lid.title }}</h3>
        <p>{{ lid.address | split: " " | last }}</p>
        <p>{{lid.colleagues}} werknemers</p>
        <a href="">Details&rightarrow;</a>
      </section>
    {% endfor %}
    </section>

</main>


{% render 'partials/foot.liquid' %}